.exploreMenu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.exploreMenu h1{
    color: #262626;
    font-weight: 500;
}


.exploreMenu-lists{
    max-width: 60%;
    columns: #808080;
}

 .exploreMenu-lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;   
    overflow-x: scroll;
     
}

.exploreMenu-lists::-webkit-scrollbar{
    display: none;
}

.exploreMenu-item img{
    width: 7.5vw;
    min-width: 80%;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}

.exploreMenu-item p{
    margin-top: 10px;
    color: #74747474;
    cursor: pointer;
    font-size: max(1.4vw, 16px);

}

.exploreMenu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.exploreMenu-item .active{
    border: 4px solid tomato;
    padding: 2px;
}